# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
collections = db.list_collection_names()

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query ={"HygieneScore": 20}


# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

# Display the first document in the results using pprint
sample_document = establishments.find_one(query)

print(f"Number of establishments with a hygiene score of 20: {count}")
pprint(sample_document)

Number of establishments with a hygiene score of 20: 0
None

In [7]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

import pandas as pd

cursor = establishments.find(query)
df = pd.DataFrame(list(cursor))


print(f"Number of rows in the DataFrame: {len(df)}")

print(df.head(10))

Number of rows in the DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={"LocalAuthorityName": "London", "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

# Display the first document in the results using pprint
sample_document = establishments.find_one(query)


print(f"Number of establishments in London with a rating value of 4 or greater: {count}")
pprint(sample_document)

Number of establishments in London with a rating value of 4 or greater: 0
None

In [9]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

import pandas as pd

cursor = establishments.find(query)
df = pd.DataFrame(list(cursor))


print(f"Number of rows in the DataFrame: {len(df)}")
print(df.head(10))

Number of rows in the DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
penang_flavours_exists = establishments.find_one({"BusinessName": "Penang Flavours"})
if penang_flavours_exists:
    pprint(penang_flavours_exists)
else:
    print("Penang Flavours does not exist in the database.")

Penang Flavours does not exist in the database.

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01

penang_flavours_location = establishments.find_one({"BusinessName": "Penang Flavours"})
if not penang_flavours_location or "Geocode" not in penang_flavours_location:
    raise ValueError("Could not find location of Penang Flavours or it does not have geocode information.")

latitude = penang_flavours_location["Geocode"]["latitude"]
longitude = penang_flavours_location["Geocode"]["longitude"]

query  = {
    "RatingValue": 5,
    "Geocode.latitude": {
        "$gte": latitude - degree_search,
        "$lte": latitude + degree_search
    },
    "Geocode.longitude": {
        "$gte": longitude - degree_search,
        "$lte": longitude + degree_search
    }
}
sort =  sort = [("HygieneScore", 1)] #ascending

# Print the results

ValueError: Could not find location of Penang Flavours or it does not have geocode information.

In [15]:
# Convert result to Pandas DataFrame
import pandas as pd
cursor = establishments.find(query).sort(sort)
df = pd.DataFrame(list(cursor))
print(f"Number of rows in the DataFrame: {len(df)}")
print(df.head()

NameError: name 'sort' is not defined

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
pipeline = [
    {
        "$match": {"HygieneScore": 0}
    },
    {
        "$group": {
            "_id": "$LocalAuthority",  
            "count": {"$sum": 1}  
        }
    },
    {
        "$sort": {"count": -1}  # Decending
    }
]

results = list(establishments.aggregate(pipeline))

print(f"Number of documents in the result: {len(results)}")
print("\nFirst 10 results:")
for result in results[:10]:
    pprint(result)

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

In [ ]:
import pandas as pd

df = pd.DataFrame(results)
print(f"Number of rows in the DataFrame: {len(df)}")
print("\nFirst 10 rows of the DataFrame:")
print(df.head(10))